.container {
  background: linear-gradient(135deg, #FFFFFF 50%, #FFF3EB 50%);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-bottom: 75px;
}

.image {
  position: relative;
  height: 367px;
  width: 624px;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 64px
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 24px
  }

  .image {
    height: 192px;
    width: 288px;
  }

  .titleWrapper {
    align-items: center;
    justify-content: space-between;
  }

  .title {
    text-align: center;
  }
}
