.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-bottom: 75px;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 64px
}

.total {
  font-size: 32px;
  font-weight: 600;
  line-height: 37px;
  text-align: left;
  opacity: 50%;
}

.earned {
  font-size: 56px;
  font-weight: 600;
  line-height: 65px;
  text-align: left;

}
